/* #LAYOUT - UTILITIES
		1. Margin
		2. Padding
		3. Color
		4. Font
		5. Text
		6. Disabled
*/

// 1. Margin
.u-mtb-16 {
	margin-top: $PX_32 !important;
	margin-bottom: $PX_16 !important;
}
.u-mtb-24 {
	margin-top: $PX_24 !important;
	margin-bottom: $PX_24 !important;
}
.u-mt-7 {
	margin-top: $PX_7 !important;
}
.u-mt-32 {
	margin-top: $PX_32 !important;
}
.u-mb-20-auto {
	margin-bottom: $PX_20 !important;
	margin-left: auto !important;
	margin-right: auto !important;
	text-align: center !important;
	display: block !important;
}
.u-mb-7 {
	margin-bottom: $PX_7 !important;
}
.u-mb-8 {
	margin-bottom: $PX_8 !important;
}
.u-mb-16 {
	margin-bottom: $PX_16 !important;
}
.u-mb-20 {
	margin-bottom: $PX_20 !important;
}
.u-mb-24 {
	margin-bottom: $PX_24 !important;
}
.u-mb-32 {
	margin-bottom: $PX_32 !important;
}
.u-mb-40 {
	margin-bottom: $PX_40 !important;
}
.u-mb-60 {
	margin-bottom: $PX_60 !important;
}
.u-mr-0 {
	margin-right: 0 !important;
}
.u-mr-5 {
	margin-right: $PX_5 !important;
}
.u-mr-10 {
	margin-right: $PX_10 !important;
}
.u-mr-20 {
	margin-right: $PX_20 !important;
}
.u-ml-5 {
	margin-left: $PX_5 !important;
}

// 2. Padding
.u-plr-20 {
	padding-left: $PX_20 !important;
	padding-right: $PX_20 !important;
}

// 3. Color
.u-grey {
	color: $GREY_40 !important;
}
.u-red {
	color: $RED !important;
}
.u-green {
	color: $GREEN !important;
}
.u-bg-grey,
.u-bg-all {
	background-color: $GREY_40 !important;
}
.u-bg-finished {
	background-color: $RED !important;
}
.u-bg-paused {
	background-color: $YELLOW !important;
}
.u-bg-ongoing {
	background-color: $GREEN !important;
}

// 4. Font
.u-font-medium {
	font-family: $FONT_MEDIUM !important;
}

// 5. Text
.u-capitalize {
	text-transform: capitalize !important;
}

// 6. Disabled
.u-is-disabled {
	cursor: not-allowed !important;
	pointer-events: none !important;
	opacity: 0.4 !important;
}
