/* #SETTINGS - COLOURS */
$TRANSPARENT: transparent;

$BLACK_RGBA: rgba(0, 0, 0, 0.9);

$GREY_100: #1a1a1a;
$GREY_90: #363636;
$GREY_80: #484848;
$GREY_60: #767676;
$GREY_40: #a3a3a3;
$GREY_20: #d1d1d1;
$GREY_10: #f3f3f3;
$WHITE: #ffffff;

$PEACH_LINEAR_GRADIENT: linear-gradient(90deg, #ff92a2 0%, #ffc28a 100%);

$RED: #e74c3c;
$YELLOW: #f1c40f;
$GREEN: #70d692;

$HERO_BG: #eef1f0;
$BLACK: #1a1a1a;
$GREY: #666666;
$GREY_LIGHT: #eef1f0;
