/* #SETTINGS - COMMON
		1. Box shadow
		2. Border radius
		3. Transition
*/

// 1. Box shadow
$BOX_SHADOW: 0px 8px 16px -4px rgba(22, 34, 51, 0.3);

// 2. Border radius
$BORDER_RADIUS_4: 0.25rem;
$BORDER_RADIUS_8: 0.5rem;

// 3. Transition
$TRANSITION_ALL: all 0.3s ease;
